* {
	box-sizing: border-box;
	order: 1px solid orange;
}
body {
	background-image: url(https://images.pexels.com/photos/1579/hand-notes-holding-things.jpg?h=350&auto=compress&cs=tinysrgb);
	background-size: cover;
	margin: 0;
}
.board {
	text-align: center;
	font-family: 'Kavivanar', cursive;
	border: 3px solid black;
    background: rgba(0,0,0,0.3);
    margin: 30px;
    position: relative;
}
.board h1 {
	padding-bottom: 20px;
	font-size: 50px;
}
.column-container {
	display: flex;
	max-width: 1360px;
	margin: 0 auto;
	flex-wrap: wrap;
}
.column {
	flex: 1;
    justify-content: space-around;
    margin: 30px auto;
    min-width: 320px;
    max-width: 30%;
    background: rgba(0,0,0,0.5);
    color: orange;
    border: 2px solid black;
    position: relative;
}
button {
	background: orange;
	border-radius: 20px;
	padding: 5px 10px;
	font-weight: 900;
	border-style: inset;
	border-color: black;
}
.btn-delete, .btn-board-delete {
	position: absolute;
	top: 5px;
	right: 5px;
}
.column-card-list {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	padding: 0;
	flex-wrap: wrap;
}
.card {
	justify-content: space-around;
	flex: 1;
	margin: 10px;
	min-width: 40%;
	border-color: black;
	border-style: inset;
	background-color: rgba(0,0,0,0.7);
	position: relative;
}
.card-delete {
	position: absolute;
	top: 5px;
	right: 5px;
}
.add-card {
	margin: 0 auto;
}
.column-id, .board-id {
	font-size: 12px;
	text-align: right;
	padding: 0 10px;
	color: orange;
}
.card-description {
	padding: 20px 30px;
}
.create-board {
	display: block;
	margin: 30px auto;
}
.footer {
	background: rgba(0,0,0,0.5);
    color: orange;
    margin: 50px auto 0;
    padding: 20px;
    text-align: center;
    font-family: 'Kavivanar', cursive;
    border-top: 2px solid black;
}
@media (max-width: 450px) {
	.board {
		min-width: 300px;
	}
	.column {
		max-width: 320px;
	}
	.card {
		min-width: 300px;
	}
}

